.noti {
  position: relative;
  display: inline-block;
}

.noti__btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--text);
  background-color: transparent;
}

.noti__badge {
  position: absolute;
  top: 0px;
  right: 3px;

  font-size: 10px;
  line-height: 1;
  padding: 3px 6px;
  border-radius: 999px;

  background-color: #EF6767;
  color: #fff;
}

.noti__menu {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  width: 320px;
  overflow: hidden;

  background: var(--dd-bg);
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.4);

  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
  transition:
    opacity 160ms ease,
    transform 160ms ease;
  z-index: 9999;
}

.noti__menu.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.noti__head {
  padding: 14px 16px;
}

.noti__title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.noti__list {
  max-height: 230px;
  overflow: auto;
  padding: 8px;
}

.noti__list::-webkit-scrollbar {
  background-color: #293142;
  width: 4px;
}

.noti__list::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background-color: gray;
}

.noti__item {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  display: flex;
  align-items: flex-start;
  gap: 32px;
  letter-spacing: 0.3px;
  background: transparent;
  color: #fff;
  text-align: left;
}

.noti__item:hover {
  background: rgba(255, 255, 255, 0.12);
}

.noti__avatar {
  width: 34px;
  height: 34px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.ring-success {
  border-color: rgba(46, 204, 113, 0.7);
}
.ring-warning {
  border-color: rgba(241, 196, 15, 0.7);
}
.ring-info {
  border-color: rgba(52, 152, 219, 0.7);
}
.ring-primary {
  border-color: rgba(122, 111, 190, 0.8);
}

.noti__content {
  flex: 1;
  min-width: 0;
}

.noti__item-title {
  margin: 0;
  padding-bottom: 4px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

.noti__item-desc {
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.8;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #828A95;
}

.noti__foot {
  padding: 10px 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.noti__viewall {
  width: 100%;
  height: 34px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: #828A95;
}
