.ds-inbox-item {
  border-bottom: 1px solid var(--border);
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.ds-inbox-item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.ds-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.ds-inbox-main {
  display: flex;
  flex-direction: column;
}

.ds-inbox-name,
.ds-inbox-text {
  font-size: 16px;
  font-weight: 600;
}

.ds-inbox-text {
  font-size: 12px;
  font-weight: 400;
  color: #868E99;
}

.ds-inbox-time {
  font-size: 11px;
  font-weight: 200;
}
